<div class="row">
  <div class="col-xs-6">
    <%= form_for(message) do |f| %>
      <% if message.errors.any? %>
        <div class="alert alert-warning">
          <ul>
            <% message.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      
      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, class: 'form-control' %>
      </div>
    
      <div class="form-group">
        <%= f.label :content, 'Post' %>
        <%= f.text_area :content, class: 'form-control' %>
      </div>
      
      <div class="field">
        <%= f.label :images %>
        <%= f.file_field :images, multiple: true, accept: 'image/jpeg,image/gif,image/png' %>
      </div>
      
      <div class="btn-group-1"><%= f.submit 'Save', class: 'btn btn-primary' %></div>
      <div class="btn-group-2"><%= link_to 'Delete', message, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></div>
      
    <% end %>
    
    <script type="text/javascript">
      $('#micropost_picture').bind('change', function() {
        var size_in_megabytes = this.files[0].size/1024/1024;
        if (size_in_megabytes > 5) {
          alert('Maximum file size is 5MB. Please choose a smaller file.');
        }
      });
    </script>
  </div>
</div>
