<ul class="media-list">
  <% messages.each do |message| %>
    <li class="media">
      <div class="media-left">
        <img class="media-object img-rounded" src="<%= gravatar_url(message.user, { size: 70 }) %>" alt="">
      </div>
      <div class="media-body">
        <div>
          <% if current_user == message.user %>
            <%= link_to edit_message_path(message), style: 'color:black' do %>
              <h4><%= message.title %></h4>
            <% end %>
          <% else %>
            <h4><%= message.title %></h4>
          <% end %>
            <p><%= message.content %></p>
            <% if message.images.attached? %>
              <% message.images.each do |image| %>
                <%= image_tag image.variant(resize: "250x250") %> <br>
              <% end %>
            <% end %>
          <span class="text-muted"><%= message.created_at %></span>
          <div class="btn-toolbar">
            <%= render 'favorites/like_button', message: message %>
            <%= render 'comments/comment_button', message: message %>
          </div>
        </div>
        <div>
          <% message.comments.order(updated_at: :desc).each do |comment| %>
            <h5><span><%= link_to comment.user.name, comment.user %></span>: <%= comment.content %>: <%= comment.updated_at %> <%= link_to 'Delete', comment, method: :delete if comment.user == current_user %></h5>
          <% end %>
        </div>
      </div>
    </li>
  <% end %>
  <%= paginate messages %>
</ul>
