<h1>Editing the post id:<%= @message.id %></h1>

<table class="table table-bordered">
    <tr>
        <th>id</th>
        <td><%= @message.id %></td>
    </tr>
    <tr>
        <th>Title</th>
        <td><%= @message.title %></td>
    </tr>
    <tr>
        <th>Post</th>
        <td><%= @message.content %></td>
    </tr>
    <tr>
        <th>Photo</th>
        <td><%= @message.images %></td>
    </tr>
    
    
</table>

<%= link_to 'Edit', edit_message_path(@message), class: 'btn btn-default' %>
<%= link_to 'Delete', @message, method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger' %>