<% provide(:title, 'Home') %>
<% if logged_in? %>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_tag root_path, :method => 'get'  do %>
        <%= text_field_tag :search, params[:search], placeholder: 'Search messages' %>
        <%= submit_tag 'Search', :name => nil %>
      <% end %>
      <% if @feed_items.any? %>
        <ol class="messages">
          <%= render 'messages/main' %>
        </ol>
        <%= paginate @feed_items %>
      <% end %>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <div class="text-center">
      <h1>Tandempartner Suchen Site</h1>
      <p><%= link_to 'Sign Up Now!', signup_path, class: 'btn btn-lg btn-primary' %></p>
      <br>
        <%= form_for(:session, url: login_path) do |f| %>
        <%= f.hidden_field :email, value: "marius@gmail.com" %>
        <%= f.hidden_field :password, value: "marius" %>
        <%= f.submit "Log in as a test user", class:"btn btn-success"%>
        <% end %>
    </div>
  </div>
<% end %>