<% users.each do |user| %>
  <div class="col-md-6 col-md-offset-4 mx-auto" >
    <div class="media bg-light d-flex align-items-center border border-light rounded">
      <div class="media-left">
        <%= link_to user_path(user) do %>
          <img class="media-object img-rounded" src="<%= gravatar_url(user, { size: 70 }) %>" alt="">
        <% end %>
      </div>
      <div class="media-body">
        <ul>
          <li><strong><%= link_to user.name, user_path(user) %></strong></li>
          <li>Speak: <%= user.speak %></li>
          <li>Offer: <%= user.offer %></li>
        </ul>
      </div>
      <div class="media-right">
        <%= render 'relationships/follow_button', user: user %>
      </div>
    </div>
  </div>
<% end %>