<div class="row">
    <aside class="col-xs-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title"><%= @user.name %></h2>
            </div>
            <div class="panel-body">
                <img class="media-object img-rounded img-responsive" src="<%= gravatar_url(@user, { size: 150 }) %>" alt="">
            </div>
            <dive>
                <h3><%= @user.speak %></h3>
                <h3><%= @user.offer %></h3>
                <h3><%= @user.place %></h3>
                <h3><%= @user.age %></h3>
            </dive>
        </div>
        <% if current_user == @user %>
            <%= link_to  'New Post', new_message_path, class: 'btn btn-default' %>
            <%= render 'relationships/follow_button', user: @user %>
            <%= link_to  'Account delete', @user, method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-default' %>
        <% end %>
        <%= render 'relationships/follow_button', user: @user %>
    </aside>
    <div class="col-xs-6">
        <ul class="nav nav-tabs nav-justified">
            <li class="<%= 'active' if current_page?(user_path(@user)) %>"><%= link_to user_path(@user) do %>Post <span class="badge"><%= @count_messages %></span><% end %></li>
            <li class="<%= 'active' if current_page?(followings_user_path(@user)) %>"><%= link_to followings_user_path(@user) do %>Following <span class="badge"><%= @count_followings %></span><% end %></li>
            <li class="<%= 'active' if current_page?(followers_user_path(@user)) %>"><%= link_to followers_user_path(@user) do %>Follower <span class="badge"><%= @count_followers %></span><% end %></li>
            <li class="<%= 'active' if current_page?(likes_user_path(@user)) %>"><%= link_to likes_user_path(@user) do %>Like <span class="badge"><%= @count_favorites %></span><% end %></li>
        </ul>
        <%= render 'messages/user_messages', messages: @messages %>
    </div>
</div>
